<!DOCTYPE html>
<html>  
  <!-- set title and get the style sheet -->
  <head>
    <meta charset="utf-8">
    <!-- This is the bit that makes it scale to mobile! -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/resources/webdesign.css" | base_url}}">
  </head>

  <!-- Create website header with profile pic between firt and last name -->
  <header>
    <h1>
       Akelas
      <img src="{{ "/resources/neocities.png" | base_url }}" 
          width="25" 
          height="25" 
          alt=" Place holder for profile photo">
        Maestro
    </h1>
  </header>

  <!-- Generate the list of navigation links -->
  <nav>
    <ul>
      <li><a href="{% link index.html %}">Home</a></li>
      <li><a href="{% link about.md %}">About</a></li>
      <li><a href="{% link blog.html %}">Blog</a></li>
      <li><a href="{% link projects.html %}">Projects</a></li>
      <li><a href="{% link links.md %}">Links</a></li>
    </ul>
  </nav>

  <!-- Insert content from pages and posts -->
    {{ content }}

  <!-- At some point, we need to add a footer here -->
    <p>
    Contact: contactAkelas (at) proton.me
    </p>
    <p>
    Copyright (c) 2026 Akelas Maestro. All Rights Reserved.
    </p>
</html>
